@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans;
  background-image: linear-gradient(to bottom right, #1a202c, #000);
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}
